body{
    background-color: rgba(5, 186, 218, 0.349);
    padding: 20px 20px 20px 150px;
}

h1{
 color: rgb(243, 26, 19);
 font-size: 50px;
 padding-left: 30px;
 
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
} 
#headrow{
    text-transform: uppercase;
}
table, tr, td{
    width: 900px;
}

.stn {
    width: 30%; 
}

#row{
     padding: 5px 5px;
     text-align: center;
     text-transform: capitalize;
}

.header{
    display: flex;
    padding-left: 200px;
    margin: 4px 4px 10px 4px;
    color: rgb(0, 0, 0);
    
}

.months{
    padding-left: 200px;
}

